<a href="https://colab.research.google.com/github/ohashin2G/DS5100-2023-01-O/blob/main/Exercise4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import math

Exercise 4.1 docstring

In [36]:
def my_string_len_is_equal_to_integer(stringtest, inttest):
  '''Returns True if the string length is equal to the integer, else False'''
  if len(stringtest) == inttest:
    return "true"
  else:
    return "false"  
  
  #bools = [stringtest >= inttest for stringtest in stringtest]
  #return bools

In [44]:
#Test for ints
result = my_string_len_is_equal_to_integer("apple",6)
result

False

In [38]:
result = my_string_len_is_equal_to_integer("is this text the right length?",30)
result

'true'

In [40]:
# Answer
def my_string_len_is_equal_to_integer(stringtest, inttest):
  '''Returns True if the string length is equal to the integer, else False'''
  check = len(stringtest) == inttest
  return check
  #return len(stringtest) == inttest

In [42]:
stringtest = "is this text the right length?"
inttest = 30
out = my_string_len_is_equal_to_integer(stringtest, inttest)
out

True

Excerise 4.2 *arg

In [47]:
def square_arg_value(*square):
    for r2 in square:
        print(r2**2)
    return None

In [48]:
square_arg_value(2,3,8)

4
9
64

In [49]:
#Alternative
list_o_nums = [10,100,5,62,42]
square_arg_value(*list_o_nums)

100
10000
25
3844
1764

Excerise 4.3  word_shortener()

In [50]:
def word_shortener(word):
    if len(word) <= 2:
        return word.upper()
    else:
        first_char = word[0].upper()
        last_char = word[-1].upper()
        middle_count = str(len(word) - 2)
        return first_char + middle_count + last_char

In [58]:
word_shortener("telecommute")
print(word_shortener)

<function word_shortener at 0x7fb5b54ce280>

In [56]:
#Answer
def word_shortener(word, min_len=5):
  "Converts a long word into word withinternal letters replace by their count."
   #validate the input
  if not isinstance(word, str):
      print(f"{word} is a {type(word)}, not a string!")
  elif len(word) < min_len:
      print(f"{word} is too short.  Put in a word at least {min_len} letters long")
      return False 
  else:
      first_char = word[0].upper()
      last_char = word[-1].upper()
      middle_number = len(word[1:-1])
      new_word = first_char + str(middle_number) + last_char
      return new_word

In [57]:
word_shortener("telecommute")

'T9E'

In [59]:
#lambda version
get_shorty = lambda x: f"{x[0]}{len(x[1:-1])}{x[-1]}".upper()
get_shorty("operationalization")

'O16N'

Excerise 4.4 Step function

In [61]:
def nonnegative_check(num):
  diff = num -5
  if diff >=0:
    return 1
  else: 
    return 0

In [63]:
nonnegative_check(3)

0

In [64]:
nonnegative_check(7)

1

Excerise 4.5

In [74]:
def define_and_print():
  x = 25
  print(x)

In [75]:
#Answer
define_and_print()

25

In [76]:
print(x)  #This is supposed to return NameError. x is not defined

[5, 7]

Excerise 4.6

In [77]:
def print_me():
  print(x1)

print_me()

NameError: ignored

In [78]:
def print_me2():
  x2 = 5
  print(x2)  #Local

print_me2()  #Global

5

In [80]:
x2 = 7
print_me2()
print(x2)

5
7

In [84]:
def printme3(x3):
  print(x3)

x3 = 9
print_me3()  #
print_me3(x3)  #
print(x3)    #

NameError: ignored

In [85]:
def print_me4(x4=5):
  print(x4)

x4=9
print_me4()
print_me4(x4)
print_me4()
print(x4)  #Global variable

5
9
5
9

Exercise 4.9 Lambda functions

In [88]:
#c2f
def c2f(temp):  
    """
    Converts C to F and returns a rounded result.
    Expects an integer and returns an integer.
    """
    return round(temp * (1.8) + 32)
    print(temp)

In [92]:
#Answer
c2f = lambda cval: 1.8 * cval +32

In [93]:
c2f(45)

113.0

In [90]:
#f2c
def f2c(temp):  
    """
    Converts F to C and returns a rounded result.
    Expects an integer and returns an integer.
    """
    return round((temp - 32) /1.8)
    print(temp)

In [94]:
#Answer
f2c = lambda fval: (fval -32)/1.8

In [95]:
f2c(113)

45.0

In [91]:
#t2t
def t2t(temp, scale):
  """
  Conbines the two previous functions and takes two arguments:
  an integer representing the temp in either f or c
  a charactor representing the temp scale to convert to, either f or c
  """
  if scale.lower() == "c":
        return f2c(temp)  # function call to f2c
  else:
        return c2f(temp)  # function call to c2f

In [99]:
#Answer
targets = {     #create a dictionary
    'f': c2f,
    'c': f2c
}

In [106]:
t2t = lambda tval, target: round(targets[target](tval))  #use the dictionary

In [107]:
f = t2t(45, 'f')

In [108]:
print(f)

113

In [110]:
#More compactly:
targets = {     #create a dictionary
    'f': lambda cval: 1.8 * cval + 32,
    'c': lambda fval: (fval -32) / 1.8
}
t2t = lambda tval, target: round(targets[target](tval))

In [109]:
t2t(45, 'f')

113